* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background: #ffffff;
    width: 3840px;
    height: 2160px;
}

/* MAIN BOARD */
.board {
    width: 3840px;
    height: 2160px;
    border: 12px solid #2f3542;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.header {
    background: #f4d03f;
    padding: 48px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 6px;
}

.clock {
    background: #ffffff;
    border: 8px solid #2f3542;
    padding: 30px 135px;
    font-weight: bold;
    font-size: 100px;
}

/* TABLE */
.departures {
    width: 100%;
    font-size: 75px;
    border-collapse: collapse;
    flex: 1;
}

.departures th {
    background: #f7e96b;
    border:12px solid #2f3542;
    padding: 24px;
    font-size: 60px;
    text-align: center;
}

.departures td {
    border: 12px solid #2f3542;
    padding: 32px;
    font-size: 50px;
    height: 140px;
}

.time-col {
    width: 240px;
}

.departures td:nth-child(1),
.departures td:nth-child(2),
.departures td:nth-child(4),
.departures td:nth-child(5) {
    text-align: center;
}


.destination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.weather {
    font-size: 45px;
    font-weight: normal;
}

.status.on-time {
    font-weight: bold;
}

tbody tr:nth-child(even):not(.active) {
    background: #e6e6e6;
}

/* FOOTER */
.footer {
    height: 200px;
    display: flex;
}

.warning {
    width: 240px;
    background: #2f3542;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning span {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: #f1c40f;
    color: #000;
    font-size: 56px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bar {
    flex: 1;
    background: #fff176;
}
